:global {
    #nav-dropdown-user,
    #nav-dropdown-menu {
        padding: 14px 8px;

        .fa {
            font-size: 20px;
        }
    }
}

.navbar-brand {
    img {
        opacity: 0.8;
    }
    img:hover {
        opacity: 1;
    }
}

.btn-icon {
    color:#444;
    &:hover,
    &:focus {
        color: #222;
    }
}

.quick-access-toolbar {
    margin: 10px 5px 10px 5px;

    @media (min-width: 768px) {
        float: right;
    }

    :global {
        .btn-group {
            float: left;
            margin-left: 5px;
            margin-right: 5px;
        }
        .btn {
            height: 50px;
            font-size: 30px;
        }

        .btn .fa {
            font-size: 20px;
        }

        .btn {
            color: #eee;
            background-color: #48a;
            &:hover {
                color: #ddd;
                background-color: #379;
            }
            &:focus {
                color: #eee;
            }
        }

        // Remove the outline on buttons
        button:focus {
            outline: 0;
        }
    }
}
