@import '../form';

.table-toolbar {
    position: relative;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding: 8px 16px;

    clearfix();
}

.overlay {
    background: rgba(0, 0, 0, .25);
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
