.content {
    border-radius: 5px;
    vertical-align: top !important;
    margin-top: 200px;
}

.header {
    padding: 10px;
    min-height: 60px;
    background: rgb(221,221,221);
    background: linear-gradient(45deg, rgba(221,221,221,1) 0%, rgba(238,238,238,1) 50%, rgba(255,255,255,1) 100%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.title {
    margin: 0px;
    padding: 0px;
    float: left;
}

.footer {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 6px;
    padding: 10px;
    border: none;
    background: #fff;
    opacity: 0.5;
    border-radius: 4px;

    &:hover {
        opacity: 1;
        background: #eee;
    }

    &:active {
        background: #ddd;
    }
}
